<h3>Create a New Post</h3>

<form {{action 'createPost' on='submit'}}>
{{input class="title-input" placeholder="Where'd you go" value=newPost.title}}
{{input class="content-input" placeholder="Tell us about it" value=newPost.content}}
  <button type="submit">Save that</button>
</form>
