{{post-form createPost='createPost'}}
<br>
<h2 class="light-text">Recent Posts: </h2>
{{#if model}}
{{#each model as |post|}}


  <div class="row">
    <div class="col-sm-10">
      <h3 class="post-title light-text">{{#link-to "post" post}}{{post.title}}{{/link-to}}</h3>

    </div>
  </div>

{{/each}}
{{else}}
<h4 class="light-text">No posts yet <span style="font-size:24px;">😥</span></h4>
{{/if}}
