{{#link-to "posts"}}Take me Back!{{/link-to}}
<h1>title</h1>
<ul>
  <li>
    {{model.content}}
  </li>
  <li>
    {{model.attachment}}
  </li>
</ul>
<button {{action 'deletePost'}} class="btn btn-danger">Delete</button>
